/*body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: linear-gradient(to right,aqua, limegreen);
}

input[type=text]{
    width: 75%;
    padding: 8px;
    margin: 8px 0;
    border: solid rgb(0, 255, 179);
    border-radius: 50px;
    box-sizing: border-box;
}*/

.container-feed {
    width: 50%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    /*margin-top: 20%;*/
    border: solid black;
}